In [1]:
#lib import
import pandas as pd
import numpy as np
import matplotlib as mpl

In [12]:
#database import
dfv1 = pd.read_csv('Database/ventas-1-65d374724924b571259206.csv')
dfv2 = pd.read_csv('Database//ventas-2-65d374947fb4d216940241.csv')

print(dfv1.head())
print(dfv2.head())

                 tipo   color talla                   planta
0              Shorts   Negro    XL     KnitNest Textile Co.
1  Pantalón Deportivo    Azul     S        DyeDreams Factory
2              Shorts  Blanco     M         TelaTech Factory
3            Leggings    Azul     M        WeaveWave Fabrics
4               Jeans    Gris     L  ThreadTide Textile Mill
                 tipo   color talla                    planta
0  Pantalón Deportivo  Blanco     L         DyeDreams Factory
1      Pantalón Cargo   Verde     L  FiberWorks Manufacturing
2               Jeans    Azul     S     LinenLoom Productions
3      Pantalón Cargo    Gris    XL         DyeDreams Factory
4  Pantalón Deportivo   Negro     S          TelaTech Factory

In [9]:
#There is no null values
dfv1.isnull()
dfv2.isnull()

      tipo  color  talla  planta
0    False  False  False   False
1    False  False  False   False
2    False  False  False   False
3    False  False  False   False
4    False  False  False   False
..     ...    ...    ...     ...
494  False  False  False   False
495  False  False  False   False
496  False  False  False   False
497  False  False  False   False
498  False  False  False   False

[499 rows x 4 columns]

In [11]:
dfv1.dtypes.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O')], dtype=object)