In [3]:
#lib import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#database import
from Database.datosplanta import cp_plant
from Database.datosplanta import lugares

#sell_databases
dfv1 = pd.read_csv('Database/ventas-1-65d374724924b571259206.csv')
dfv2 = pd.read_csv('Database//ventas-2-65d374947fb4d216940241.csv')

#cost per plant
print(dfv1.head())
print(dfv2.head())

                 tipo   color talla                   planta
0              Shorts   Negro    XL     KnitNest Textile Co.
1  Pantalón Deportivo    Azul     S        DyeDreams Factory
2              Shorts  Blanco     M         TelaTech Factory
3            Leggings    Azul     M        WeaveWave Fabrics
4               Jeans    Gris     L  ThreadTide Textile Mill
                 tipo   color talla                    planta
0  Pantalón Deportivo  Blanco     L         DyeDreams Factory
1      Pantalón Cargo   Verde     L  FiberWorks Manufacturing
2               Jeans    Azul     S     LinenLoom Productions
3      Pantalón Cargo    Gris    XL         DyeDreams Factory
4  Pantalón Deportivo   Negro     S          TelaTech Factory

In [5]:
#Convert dictionaries into dataframes
cpdf = pd.DataFrame(cp_plant)
lugaresdf = pd.DataFrame(lugares)

print(cpdf.head())
print(lugaresdf.head())

                     planta  precio
0          TelaTech Factory    4.55
1  FiberWorks Manufacturing    4.34
2       SilkStream Textiles    4.27
3         CottonCraft Works    4.13
4     LinenLoom Productions    4.90
                          lugar  descuento  envio
0              EcoChic Boutique         30      3
1        Vintage Vogue Emporium         35      4
2          FitFrenzy Activewear         33      3
3  Little Sprouts Fashion House         30      3
4      Local Threads Collective         40      5

In [6]:
#There is no null values
dfv1.isnull()
dfv2.isnull()

      tipo  color  talla  planta
0    False  False  False   False
1    False  False  False   False
2    False  False  False   False
3    False  False  False   False
4    False  False  False   False
..     ...    ...    ...     ...
494  False  False  False   False
495  False  False  False   False
496  False  False  False   False
497  False  False  False   False
498  False  False  False   False

[499 rows x 4 columns]

In [8]:
#concat

dfv = pd.concat([dfv1, dfv2], ignore_index=True)

In [9]:
#Drop the columns that not will be use
droped_columns = ['tipo', 'color', 'talla']
jplantas = dfv.drop(columns=droped_columns)

print(jplantas.tail())

                      planta
993         TelaTech Factory
994        DyeDreams Factory
995  YarnYield Manufacturing
996        DyeDreams Factory
997  YarnYield Manufacturing

La columna original de plantas presentadas en las 2 bases de datos

In [10]:
#Se eliminan duplicados en planta
dfvc = jplantas.drop_duplicates(subset=['planta'])

#frecuencia de plantas
frecuencia_plantas = dfv['planta'].value_counts().reset_index()
frecuencia_plantas.columns = ['planta', 'frecuencia']
print(frecuencia_plantas)

                     planta  frecuencia
0   YarnYield Manufacturing         114
1  FiberWorks Manufacturing         110
2     LinenLoom Productions         106
3         CottonCraft Works         103
4       SilkStream Textiles         102
5   ThreadTide Textile Mill         101
6          TelaTech Factory          97
7         DyeDreams Factory          89
8         WeaveWave Fabrics          89
9      KnitNest Textile Co.          87

In [11]:

#Dataframe con frecuencias

df_cf = dfvc.merge(frecuencia_plantas, on='planta', how='inner')
print(df_cf.tail())

                     planta  frecuencia
5     LinenLoom Productions         106
6       SilkStream Textiles         102
7         CottonCraft Works         103
8  FiberWorks Manufacturing         110
9   YarnYield Manufacturing         114

In [12]:
df_cf = df_cf.merge(cpdf, on='planta', how='inner')
print(df_cf.head())

                    planta  frecuencia  precio
0     KnitNest Textile Co.          87    4.67
1        DyeDreams Factory          89    4.51
2         TelaTech Factory          97    4.55
3        WeaveWave Fabrics          89    4.72
4  ThreadTide Textile Mill         101    4.34